body {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 9pt;
    background: white;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    background: yellow;
}

#header h1 {
    display: inline;
}

#header .menu {
    margin: 0;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    right: 0;
    top: 0;
}

#header .menu li {
    display: inline;
    color: white;
}

#header .menu li:last-child:after {
    content: "";
}

#header .menu li:after {
    content: " | ";
}

#header .menu li span {
    cursor: pointer;
}

#header .menu li span:hover {
    text-decoration: underline;
}

#loading-screen {
    width: 2em;
    margin: 10em auto;
}

.reportrow {
    display: table-row;
}

.reports {
    padding-top: 1em;
    display: table;
    border-spacing: 10px;
}

.reports .container > div {
    display: table-cell;
    border: 4px black outset;
    background: #f0f0f0;
}

.reportboxtable {
    display: table;
    border-spacing: 0;
}

.reportdetails {
    display: table-cell;
}

.reports td {
    display: table-cell;
    border: 4px black outset;
    background: #f0f0f0;

}

.reports .container h2 {
    margin-top: 0;
    width: 20em;
}

.reports .container h3 {
    margin-top: 0;
}

#templates {
    display: none;
}

.dialog {
    display: none;
}

/* Rule to fix quirks-mode inheritance behavior */
table, caption {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-variant: inherit;
}

.reports table {
    width: 100%;
    border-collapse: collapse;
}

.reports tr {
}

.reports th {
    text-align: left;
}

.reports tr.bug-row {
    cursor: pointer;
}

.reports tr.bug-row:hover {
    background: #f0f0f0;
}

.reports th, td {
}

#errors {
    display: none;
    position: fixed;
    left: 0px;
    bottom: 0px;
    padding: 1em;
    background: #cc0033;
    color: white;
}

.P1.critical, .P1.blocker {
    color: red;
}

.status-RESOLVED, .status-VERIFIED {
    text-decoration: line-through;
}

.countdown {
    color: #f0f0f0;
}

.bug-tooltip {
    /* TODO: Actually display this. */
    display: none;
}

.loading {
    background-image: url('images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: top right;
}

.dialog {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.dialog .content {
    line-height: 1.5em;
    color: white;
    background: rgba(0, 0, 0, 0.75);
    padding: 2em;
    width: 40em;
    margin: 10em auto;
}

.dialog input {
    border: 1px solid black;
    background: #e0e0e0;
    outline: none;
    padding: 0.5em;
    font-family: Helvetica Neue, Arial, sans-serif;
    width: 25em;
}

.dialog input[type=submit] {
    cursor: pointer;
    width: auto;
}

.dialog input[type=button] {
    cursor: pointer;
    width: auto;
}

.dialog input:hover {
    background: white;
}

.dialog input:focus {
    background: white;
}

.dialog input.ui-autocomplete-loading {
    background-image: url('images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: 95% 35%;
}

.dialog table {
    margin-left: 0;
}

.hide-while-loading {
    display: none;
}

div.more-link {
    padding: 0.5em;
    color: gray;
    cursor: pointer;
}

div.more-link:hover {
    background: #f0f0f0;
}

.pagelink {
    cursor: pointer;
}

div.indicator-panel {
    margin-top: 10px;
    display: table;
    border-spacing: 10px;
}

div.indicator-row {
    display: table-row;
}

div.indicator-box {
    display: table-cell;
    width: 90px;
    height: 90px;
    text-align: center;
    border: 4px outset black;
    vertical-align: middle;
}

div.indicatorLoading {
    background: #f0f0f0;
}

div.indicatorOk {
    background: #33cc33;
}

div.indicatorWarn {
    background: #ffff33;
}

div.indicatorErr {
    background: #cc3333;
}

div.indicatorlink {
}

.report {
}

.statsentry .name {
    font-weight: bold;
}

.statsgroupentry .name {
    font-weight: bold;
}

div.bolttopleft {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 5px;
    height: 5px;
    background-image:url('images/bolt.png');
}

div.bolttopright {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 5px;
    height: 5px;
    background-image:url('images/bolt.png');
}

div.boltbottomleft {
    position: absolute;
    bottom: 2px;
    left: 2px;
    width: 5px;
    height: 5px;
    background-image:url('images/bolt.png');
}

div.boltbottomright {
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 5px;
    height: 5px;
    background-image:url('images/bolt.png');
}

div.reportbox {
  position: relative;
  padding: 10px;
}

#todobox {
    display: table-cell;
}

#todo {
  display: none;
  padding-left: 30px;
}

.statsgroupsep > hr {
    border: 1px inset black;
}

div.listentry {
    display: table-row;
}

div.listentrybutton {
    display: table-cell;
    text-align: right;
}

div.nodisplay {
    visibility: hidden;
}

div.listentrytext {
    display: table-cell;
}

div.listentrynone {
    display: table-row;
    font-style: italic;
}

div.listentry:hover {
    cursor: pointer;
    background: #ffffff;
    color: #000000;
}

div.admincol {
	float: left;
}

div.adminlist {
    display: table;
}

div.adminpanel {
    background: #f0f0f0;
    border: 4px outset black;
    position: relative;
    margin: 20px;
    padding: 10px;
}

.adminpanel h2 {
    margin-top: 0;
    width: 20em;
}

div.entitylist {
	display: table;
    width: 100%;
    border-collapse: collapse;
}

.entitylist th {
    text-align: left;
}

.entityselected {
	background: #000000;
	color: #ffffff;
}

button.adminbutton {
	font-size: 6pt;
}

